@import "tailwindcss";

@theme {
  --color-primary: rgb(25, 39, 48);
  --color-accent: rgb(173, 162, 135);
}

:root {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

header {
  height: calc(100vh - 3.5rem);
}

.hero {
  background-image: url("/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (hover: hover) {
  .foreground {
    @apply h-full;
  }
  .foreground h3 {
    @apply text-2xl;
  }
  .card:hover .foreground {
    @apply h-10;
  }
  .card:hover .foreground h3 {
    @apply text-base;
  }

  .circle::before {
    transform: scale(20);
  }
  .button:hover .circle::before {
    transform: scale(1);
  }
}
